@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0px;
    overflow-x:hidden;
}

body{
  background-color: #3c3c3c;
}

.corps{
}

h1{
    font-family: 'Metal Mania', cursive;
}

a{
  text-decoration: none;
  color: rgb(205, 204, 204);
}

/* header */

.logo-text{
    text-decoration: none;
    font-size: 48px;
    color: aliceblue;
    font-family: 'Metal Mania', cursive;
}

.logo-text:hover{
    color: #3c3c3c;
}

.header{
  padding: 20px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.nav-travel{
    list-style: none;
}

.e{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: white;
    text-decoration: none;
    margin: 15px;
}

.nav-link:hover{
    color: gray;
}

button.contact-us {
    max-height: 60px;
    text-align: center;
    background-color: #fff;
    color: #3c3c3c;
    border: 2px solid #fff;
    border: none;
    border-radius: 8px;
    padding: 2px 30px; /* Reduce padding to make button smaller */
    font-size: 15px; /* Reduce font size to make text fit */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
}

  button.contact-us:hover {
    background-color: #3c3c3c;
    color: #fff;
    transform: scale(1.1);
  }

/* Landing page */

.main-info{
  display: flex;
  justify-content: space-evenly;
  background-color: #3c3c3c important!;
  margin-top: 10px;
}

.main-info-1{
  vertical-align: center;
}

.main-info-1 img{
  height: 250px;
}

.main-info h1{
  text-align: center;
  position: relative;
}

.main-info p{
  text-align: center;
  justify-content: center;
}

.main-info-2 img{
  height: 350px;
  width: max-content;
}

/* Réserver une place */

.book-places{
  display: flex;
  background-color: rgb(63, 63, 63);
  border: rgba(29, 29, 29, 0.177);
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  
}

.partbook-1{
  text-align: center;
  padding: 25px;
  min-width: 15%;
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0.444);
}

.partbook-1 p{
  color: rgb(205, 204, 204);

}

.partbook-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: right;
  line-height: 30px;
}

.description{
  margin: 15px;
}

#icon-location {
  margin-right: 10px; /* adjust as needed */
}

.alignement{
  display: flex;
  align-items: center;
}

.partbook-2 p{
  color: rgb(205, 204, 204);
  display: flex;
  flex-direction: column;
}

.show-name{
  font-size: large;
}

.avaible-from{
  max-height: 50px;
  max-width: 15%;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30% ;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.avaible-from:disabled {
  pointer-events: none;
}

.avaible-from:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.avaible-from:active {
  box-shadow: none;
  transform: translateY(0);
}
/* leur histoire + youtube */

.more-info{
  color: rgba(255, 255, 255, 0.74);
}

.Story{
  display: flex;
  flex-direction: row;
  background-color:#1f1f1f;
  justify-content: space-evenly;
  padding: 15px;
}

.left-text{
  max-width: 400px;
  text-align: center;
  font-size: 1.4em;
  background-color: #1A1A1A;
  border-radius: 5%;
}

.video{
}

.Story2{
  display: flex;
  flex-direction: row ;
  background-color:#1f1f1f;
  justify-content: space-evenly;
  padding: 15px;
}

.right-text{
  max-width: 400px;
  text-align: center;
  font-size: 1.4em;
  background-color: #1A1A1A;
  border-radius: 5%;
}

.picture1{
  width: 560px;
  height: 315px;
}

/* Description + monter vers le haut */

.info{

}

.info-event{

}

.info-details{
  font-size: small;
}

/* Footer */

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
