@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    background-color: rgb(51, 42, 42);
    font-family: 'Kanit', sans-serif;
}

h1{
    font-family: 'Metal Mania', cursive;
}

/* Landing page */

.nav-bar{
    display: flex;
    height: 70px;
    width: 100%;
}

.nav-travel{
    display: inline;
    bottom: 0%;
    list-style: none;
    text-align: center;
}

button.contact-us{
    max-height: 70%;
}
